$color-primary: rgb(23, 23, 56);
$color-background: rgb(255, 252, 248);
$color-tertiary: rgb(52, 35, 166);
$color-tertiary-hover: rgb(176, 164, 255);
$color-nav-border: $color-tertiary-hover;

$color-text-primary: rgb(20, 20, 20);
$color-text-secondary: rgb(252, 246, 238);
$color-text-heading: rgb(52, 35, 166);
$color-text-link: rgb(43, 27, 148); 
$color-secondary-btn: rgb(137, 19, 62);
$color-white: rgb(255, 255, 255);

$color-text-ok: rgb(76, 178, 78);
$color-text-warn: rgb(207, 152, 52);
$color-text-danger:rgb(160, 27, 62);

$color-ui-ok:$color-text-ok;
$color-ui-warn:$color-text-warn;
$color-ui-danger:$color-text-danger;