$navbar-dark-color:$color-primary;
$body-bg: $color-background;
$navbar-dark-brand-color: $color-text-secondary;

$nav-tabs-border-width:3px;
$nav-tabs-border-color:$color-tertiary;
$nav-tabs-link-hover-border-color:$color-tertiary;
$nav-tabs-link-active-color:$color-text-secondary;
$nav-tabs-link-active-bg:$color-tertiary;
$nav-tabs-link-active-border-color:$color-tertiary;